<a href="https://colab.research.google.com/github/rahimsk6545-bot/Python-basics/blob/main/Data_Types_and_Structures_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a code to create a string with your name and print it?

In [1]:
name="rahim shaikh"
print(name)

rahim shaikh

2.Write a code to find the length of the string "Hello World"?

In [2]:
text="hello world"
lenght=len(text)
print(lenght)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
text="python programming"
first_three=text[:3]
print(first_three)

pyt

4.Write a code to convert the string "hello" to uppercase?

In [8]:
text="hello"
upper_text=text.upper()
print(upper_text)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [9]:
text="i like apple"
new_text=text.replace("apple","orange")
print(new_text)

i like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [10]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [11]:
numbers=[1,2,3,4,5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [12]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [15]:
letters=['a','b','c','d']
second_element=letters[1]
print=(second_element)

10.Write a code to reverse the list [10, 20, 30, 40, 50].?

In [20]:
numbers=[10,20,30,40,50]
numbers.reverse()
print=(numbers)

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.?

In [21]:
numbers=(100,200,300)
print=(numbers)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').?

In [24]:
colors=('red','green','blue','yellow')
second_to_last=colors[-2]
print=(second_to_last)

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).?

In [25]:
number=(10,20,5,15)
minimum=min(number)
print=(number)

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?

In [26]:
animals=('dog','cat','rabbit')
index=animals.index('cat')
print=(index)

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [28]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print=("kiwi is in the tuple")
else:
    print=("kiwi is not in the tuple")

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.?

In [29]:
letters={'a','b','c'}
print=(letters)

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?

In [30]:
numbers={1,2,3,4,5}
numbers.clear()
print=(numbers)

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.?

In [32]:
numbers={1,2,3,4}
numbers.remove(4)
print=(numbers)

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print=(union_set)

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?

In [36]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print=(intersection_set)

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?

In [38]:
person = {
    "name": "Rahim",
    "age": 24,
    "city": "Kolkata"
}

print=(person)

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [39]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"

print=(person)

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?

In [42]:
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]

print=(name_value)

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [43]:
person = {'name': 'Rahim', 'age': 24, 'city': 'kolkata'}
person.pop("age")

print=(person)

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [45]:
person = {'name': 'Alice', 'city': 'Paris'}

if "city" in person:
    print=("Key exists")
else:
    print=("Key does not exist")

26.Write a code to create a list, a tuple, and a dictionary, and print them all.?

In [47]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print=(my_list)
print=(my_tuple)
print=(my_dict)

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result?

In [48]:
import random

# create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
numbers.sort()

# print the result
print=(numbers)

28.Write a code to create a list with strings and print the element at the third index.?

In [49]:
words = ["apple", "banana", "cherry", "mango", "grape"]

print=(words[3])

29.Write a code to combine two dictionaries into one and print the result.?

In [50]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

print=(combined_dict)

30.Write a code to convert a list of strings into a set?

In [51]:
words_list = ["apple", "banana", "apple", "cherry"]

words_set = set(words_list)

print=(words_set)