<a href="https://colab.research.google.com/github/rahimsk6545-bot/Python-basics/blob/main/Functions_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.?

In [1]:
def sum_even_numbers(numbers):
    """
    Takes a list of numbers and returns the sum of all even numbers.

    :param numbers: List of integers
    :return: Sum of even integers in the list
    """
    total = 0
    for num in numbers:
        if num % 2 == 0:
            total += num
    return total

# Example usage:
nums = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(nums))

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [2]:
def reverse_string(s):
    """
    Takes a string and returns its reverse.

    :param s: Input string
    :return: Reversed string
    """
    return s[::-1]

# Example usage:
text = "Hello, world!"
print(reverse_string(text))

!dlrow ,olleH

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.?

In [3]:
def square_list(numbers):
    """
    Takes a list of integers and returns a new list with the squares of each number.

    :param numbers: List of integers
    :return: List of squared integers
    """
    return [num ** 2 for num in numbers]

# Example usage:
nums = [1, 2, 3, 4, 5]
print(square_list(nums))

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [4]:
def is_prime(n):
    """
    Checks if a given number is prime (between 1 and 200).

    :param n: Integer to check
    :return: True if prime, False otherwise
    """
    if n < 2 or n > 200:
        return False  # Not prime or out of range
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage:
for num in [1, 2, 17, 200, 201]:
    print(f"{num} is prime? {is_prime(num)}")

1 is prime? False
2 is prime? True
17 is prime? True
200 is prime? False
201 is prime? False

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms

In [5]:
class Fibonacci:
    def __init__(self, n_terms):
        """
        Initialize the iterator with the number of terms.

        :param n_terms: Number of Fibonacci terms to generate
        """
        self.n_terms = n_terms
        self.index = 0
        self.a, self.b = 0, 1  # First two Fibonacci numbers

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= self.n_terms:
            raise StopIteration
        if self.index == 0:
            self.index += 1
            return self.a
        elif self.index == 1:
            self.index += 1
            return self.b
        else:
            self.a, self.b = self.b, self.a + self.b
            self.index += 1
            return self.b

# Example usage:
fib_sequence = Fibonacci(10)
for num in fib_sequence:
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [6]:
def powers_of_two(max_exponent):
    """
    Generator that yields powers of 2 from 0 up to max_exponent (inclusive).

    :param max_exponent: Maximum exponent
    """
    for i in range(max_exponent + 1):
        yield 2 ** i

# Example usage:
for value in powers_of_two(5):
    print(value, end=' ')

1 2 4 8 16 32

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [24]:
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.rstrip('\n')  # remove trailing newline

# Create a dummy file for demonstration purposes
with open('example.txt', 'w') as f:
    f.write('This is line 1.\n')
    f.write('This is line 2.\n')
    f.write('This is line 3.')

# Example usage
print("Reading from example.txt:")
for line in read_file_line_by_line('example.txt'):
    print(line)

Reading from example.txt:
This is line 1.
This is line 2.
This is line 3.

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [19]:
# Sample list of tuples
data = [(1, 5), (2, 2), (3, 8), (4, 1)]

# Sort by the second element of each tuple
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(4, 1), (2, 2), (1, 5), (3, 8)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [20]:
# List of temperatures in Celsius
celsius_temps = [0, 20, 37, 100]

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

# Use map() to convert all temperatures
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))

print("Celsius:", celsius_temps)
print("Fahrenheit:", fahrenheit_temps)

Celsius: [0, 20, 37, 100]
Fahrenheit: [32.0, 68.0, 98.6, 212.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [21]:
# Input string
text = "Hello, World!"

# Function to check if a character is not a vowel
def is_not_vowel(char):
    return char.lower() not in 'aeiou'

# Use filter() to remove vowels
filtered_text = ''.join(filter(is_not_vowel, text))

print("Original text:", text)
print("Without vowels:", filtered_text)

Original text: Hello, World!
Without vowels: Hll, Wrld!

11.Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

In [22]:
# Sample list of orders: (order_number, price_per_item, quantity)
orders = [
    (1, 20.0, 3),
    (2, 50.0, 1),
    (3, 10.0, 5),
    (4, 120.0, 1)
]

# Create the list of 2-tuples: (order_number, total_price)
order_totals = [
    (order_number, total + 10 if total < 100 else total)
    for order_number, price, quantity in orders
    for total in [price * quantity]  # calculate total first
]

print(order_totals)

[(1, 70.0), (2, 60.0), (3, 60.0), (4, 120.0)]